<style>
    a {
        color: #05a6cc;
    }
    body {
        font-family: Helvetica, sans-serif;
        font-size: 18px;
        color: #5a5a5a;
    }
    .sans{
        font-family: Helvetica, sans-serif;
    }
    .serif{
        font-family: Georgia, serif;
    }


    .section1{
        height: auto;
        padding: 50px;
    }
    .desktopHeader{
        margin: 20px 0 30px;
        background-image: url(../images/hero1-desktop.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%, auto;
        height: 350px;
    }
    .overlay{
        color:white;
        margin-left: 70px;
        margin-top: 70px;
    }
    .redHead{
        color: #e03031;
        margin: 0;
        font-family: Georgia, serif;
    }
    .blueHead{
        color: #05a6cc;
        margin: 0;
        width: 90%;
        font-family: Helvetica, sans-serif;
        display: inline-block;
    }
    .subs{
        margin:0;
        font-family: Helvetica, sans-serif;
    }
    .item{
        background-color: #e3e3e2;
        color: #5a5a5a;
        height: 50px;
        width: 24%;
        margin-right: 10px;
        float:left;
    }
    .icon{
        width: 20%;
        float: left;
        margin: 0 10px;
        display: inline-block;
    }
    .item div{
        display: inline-block;
        font-size: 16px;
        width: 60%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .littleArrow{
        float: right;
        width: 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .clear{
        clear: both;
    }
    .btn-info{
        background-color: #1885a6;
        border-color: #24b7f3;
    }


    .section2{
        background-color: #f5f2ea;
        margin-top: 50px;
        height: auto;
        padding: 50px
    }
    .step{
        height:auto;
        margin-bottom: 50px;
    }
    .stepPictures > img{
        width: 90%;
        padding: 5px;
        margin-bottom: 30px;
        background-color: white;
        box-shadow: 0 0 5px #ccc;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .leftPicture{
        margin-left:0;
        padding: 15px;
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    .step p{
        margin: 20px 0;
    }
    .thumb{
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .thumb img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    #thumb1{
        background-image: url(../images/thumb1.jpg);
        width: 170px;
        height: 86px;
    }
    #thumb2{
        background-image: url(../images/thumb2.jpg);
        width: 170px;
        height: 86px;
    }
    #thumb3{
        background-image: url(../images/thumb3.jpg);
        width: 170px;
        height: 86px;
    }


    .section3{
        height: auto;
        padding: 50px;
    }
    div.content-one {
        display:none;
    }
    .question{
        background-color: #eeeeee;
        margin-bottom: 10px;
        padding: 10px;
    }
    .content-one{
        padding-top: 5px;
    }
    .bigArrow{
        float: right;
        width: 30px;
    }
    .rotate {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .panel-default>.panel-heading{
        background-color: #eeeeee;
    }
    .panel-body{
        background-color: #eeeeee;
    }


    .section4 {
        background-color: #f5f2ea;
        height: auto;
        padding: 50px
    }




    @media (min-width: 600px) and (max-width: 992px) {
    .overlay{
        color:white;
        margin-left: 30px;
        margin-top: 60px;
    }
    .item{
        background-color: #e3e3e2;
        color: #5a5a5a;
        height: 50px;
        width: 45%;
        margin-bottom: 20px;
        margin-right: 20px;
        float:left;
    }
    .icon{
        width: 18%;
        float: left;
        margin: 0 10px;
        display: inline-block;
    }
    .item div{
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        width: 110px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}

@media (max-width: 600px) {
    .overlay{
        color:white;
        margin-left: 30px;
        margin-top: 60px;
    }
    .item{
        background-color: #e3e3e2;
        color: #5a5a5a;
        height: 70px;
        width: 90%;
        margin-bottom: 20px;
        margin-right: 20px;
        float:left;
    }
    .icon{
        width: 18%;
        float: left;
        margin: 0 10px;
        display: inline-block;
    }
    .item div{
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        width: 50%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }


}

</style>
